body{
    background-image: url(images/images\ \(4\).jpg);
    background-size: cover;
}
header{
    background-color: black;
}
#logo{
    margin-left: 10%;
}
.navigation{
    float: right;
    margin-top: 30px;
    margin-right: 40px;
}
.navigation a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px;
}
.navigation a{
    background-color: aqua;
    color: black;
}
